# DJANGO SETTINGS
SECRET_KEY=
DEBUG=
ALLOWED_HOSTS=

# DATABASE SETTINGS
DB_PASSWORD=
DB_USER=
DB_HOST=
DB_PORT=

# CELERY SETTINGS
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=

# SMTP SETTINGS
EMAIL_HOST=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_PORT=
EMAIL_BACKEND=